/*
  覆盖默认elementUI样式
*/
.el-menu {
  background: var(--sidebar-background) !important;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

// 修改Header组件的样式
.el-header {
  padding: 0;
  height: 45px;
}

//重写 el-aside的延迟方式
.el-aside {
  transition: width .28s !important;
  overflow-x: hidden;
}

//重写注册的 el-steps title的字体大小
.register_steps{
  .el-step__title{
    font-size: 11px;
  }
}
//去除register、RetrievePassword下tabs的 tab的下划线
.register,.RetrievePassword{
  .el-tabs__header{
    display: none;
  }
}

//register 解决 正则验证不通过 显示提示文字显示不全bug
.register{
  .el-form{
    .is-error {
      & .el-form-item__error--inline {
        margin-bottom: 4px; // 当包含子元素 el-form-item__error--inline 时的 margin-bottom 值
      }
    }

  }
}

//去除 mainContent部分的内边距
.el-main{
  padding: 0px;
}

//改变 加载条颜色
#nprogress .bar {
  background: #66B1FF !important; // 自定义颜色
  height: 2px !important; // 自定义高度
}

//改变el-menu-item 被选中的背景颜色
.el-sub-menu.is-active{
  .el-sub-menu__title{
    color: var(--el-menu-active-color);
  }
}

/* 过渡效果的 CSS */
.show-enter-active, .show-leave-active {
  transition: opacity 0.5s;
}
.show-enter, .show-leave-to {
  opacity: 0;
}


//修改el-menu 子项下拉时的背景颜色
.el-sub-menu{
  .el-menu.el-menu--inline{
    background: var(--sidebar-open-background) !important;
  }
}

//修改el-form 行内样式的 el-item之间的间距
.el-form{
  .el-form-item{
    margin-right: 10px;
    label{
      font-weight: 1000;
    }
  }
}

//自定义scrollBar样式
.scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}
