:root {
  --theme-color: #409EFF;
  --sidebar-background:#d9ecff; //侧边栏 背景颜色
  --header-background:#ffffff ;//头部状态栏 背景颜色
  --body-header-background:#ffffff ;//body头部 背景颜色
  --body-content-whiteAndblack:#ffffff
}
html.dark {
  --theme-color: #135fad;
  --sidebar-background: #404549FF;
  --header-background:#404549FF;
  --body-header-background:#404549FF ;//body头部 背景颜色
  --body-content-whiteAndblack:#000000
}