:root {
  --theme-color: #409EFF;
  --sidebar-background:#d9ecff; //侧边栏 背景颜色
  --sidebar-open-background: #d0e6ff;//侧边栏下拉菜单的背景颜色
  --header-background:#ffffff ;//头部状态栏 背景颜色
  --body-header-background:#ffffff ;//body头部 背景颜色
  --body-content-whiteAndblack:#ffffff;
  --body-content-illustration-background:#e6e6e654;
  --body-content-illustration-svgBackground:#ffffff;
  --body-content-middle-subtitle-color:#6f6f6f;
  --MyPageHeader-shadow-color:#0000001E;//MyPageHeader 阴影颜色
  --header-task-icon-background-color:#EBF5FFFF;
  --header-task-title-color:#303113;
  --header-message-background-color:#ECF5FFFF;
  --header-message-border-color:#eee;
  --indexView-icon-background-color: #F7F7F7FF;

}
html.dark {
  --theme-color: #135fad;
  --sidebar-background: #404549FF;
  --sidebar-open-background: #3a3e41c2;//侧边栏下拉菜单的背景颜色
  --header-background:#404549FF;
  --body-header-background:#404549FF ;//body头部 背景颜色
  --body-content-whiteAndblack: #1B1B2AFF;
  --body-content-illustration-background:#151521;
  --body-content-illustration-svgBackground:#1B1B2AFF;
  --body-content-middle-subtitle-color:#cdcdde;
  --MyPageHeader-shadow-color: #FFFAFAAD;
  --header-task-icon-background-color:#0C1F32FF;
  --header-task-title-color:#d0d0d0;
  --header-message-background-color:#383838FF;
  --header-message-border-color:#363636;
  --indexView-icon-background-color: #2C2D2EFF;
}